<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="css/index.css" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<script src="./js/myjs.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
</head>

<body> 
  <form action="http://localhost:3000/" method="POST">
<!-- head start--> 
<div class='head'>
			<div id='head_logo'>
			 <img src='./image/logo.jpg'> 
			</div>
            <div id='head_title'>Query Social Network System</div>
</div>
		
<!-- head end --> 
<!-- body start --> 

    <!-- wrapper_left -->
      <div id="wrapper_left">
      <!-- one -->
        <div id="one">
        <div id="one_left">

        	<div id="search_field">1. Searching on specific topics</div>
        	<div id="search">
            	<div id="search_left">specific topics:</div>
                <div id="search_right">
                <!-- <input id='search_text' name="keywords"/> -->
                <input id='search_text' type="text" name="keywords" value="input keywords(e.g. java mysql)" 
                style="color#d3d7d4;" onfocus="if(value=='input keywords(e.g. java mysql)'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#ff00ff';value='input keywords(e.g. java mysql)'}"/>
                </div>
                <div id="search_left">Location:</div>
                <div id="search_right">
                <input id='search_text' name="LatitudeandLongitude" type="text" value=""
                style="color#d3d7d4;"/>
                </div>
                <div id="search_right">
                    <div id="search_right_notice">
                        (optional e.g. 51.5072,0.1275,10km)
                    </div>
                </div>
            </div>
            
        </div>
        <div id="one_right">
        <input class='search_submit' name = "first" type="submit" value='select'    style="width:90px;height:45px;" /></a>
        </div>
        </div>
         <!-- two  -->
         <div class="nav"></div>
        <div id="one">
         <div id="one_left">
       
        	<div id="search_field">2a. Searching Specific user in Z days,Y keywords</div>
        	<div id="search">
            	<div id="search_left">Screen_names :</div>
                <div id="search_right">
                <!-- <input id='search_text' name="Screen_name"type="text"/> -->
                <input id='search_text' type="text" name="Screen_name" value="input screen_names(e.g. Miffu123 spriggy45)" 
                style="color#d3d7d4;" onfocus="if(value=='input screen_names(e.g. Miffu123 spriggy45)'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#ff00ff';value='input screen_names(e.g. Miffu123 spriggy45)'}"/>
                </div>
                <div id="search_left">How many keywords:</div>
                <div id="search_right">
                <div id='select_box'>
                <select id='select2a' name='select2a'>
                    <option value =1>1</option>
                    <option value =2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
				</select>
                </div>
                </div>
                <div id="search_left">How many days:</div>
                <div id="search_right">
                <div id='select_box'>
                <select id='select2b' name='select2b'>
                    <option value =0>0</option>
                    <option value =1>1</option>
                    <option value =2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
				</select>
                </div>
                </div>
            </div>
            
        </div>
        <div id="one_right">
        <input class='search_submit' name = "second" type="submit" value='select' onclick="window.location='result.html';" style="width:90px;height:45px;" />
        </div>
        </div>
        <!-- three -->
        <div class="nav"></div>
        <div id="one">
        
        
         <div id="one_left">
       
        	<div id="search_field">2b. Searching venues a user visited last X days</div>
        	<div id="search">
            	<div id="search_left">User:</div>
                <div id="search_right">
                <!-- <input id='search_text' name="User" type="text" /> -->
                <input id='search_text' type="text" name="User" name="Screen_name" value="input screen_name(e.g. Miffu123)" 
                style="color#d3d7d4;" onfocus="if(value=='input screen_name(e.g. Miffu123)'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#ff00ff';value='input screen_name(e.g. Miffu123)'}"/>
                </div>
                <div id="search_left">Number of days:</div>
                <div id="search_right">
                <div id='select_box'>
                <select id='select3' name='select3'>
                    <option value =0>0</option>
                    <option value =1>1</option>
                    <option value =2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
				</select>
                </div>
                </div>
            </div>
            
        </div>
        <div id="one_right">
        <input class='search_submit' name = "third" type="submit" value='select' onclick="window.location='result.html';" style="width:90px;height:45px;" />
        </div>
        </div>
        
        <!-- four -->
        <div class="nav"></div>
        <div id="one">
        	<div id="one_left">
       
        	<div id="search_field">2c. Searching vanues specific user visit last X days</div>
        	<div id="search">
            	<div id="search_left">Location:</div>
                <div id="search_right">
                <!-- <input id='search_text' name="venueid" type="text" /> -->
                <input id='search_text' type="text" name="venueid"  value="input venue name(e.g. Sheffield)" 
                style="color#d3d7d4;" onfocus="if(value=='input venue name(e.g. Sheffield)'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#ff00ff';value='input venue name(e.g. Sheffield)'}"/>
                </div>
                <div id="search_left">How many days:</div>
                <div id="search_right">
                <div id='select_box'>
                <select id='select4' name='select4'>
                    <option value =0>0</option>
                    <option value =1>1</option>
                    <option value =2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
				</select>
                </div>
                </div>
            </div>
        </div>
        <div id="one_right">
        <input class='search_submit' name = "fourth" type="submit" value='select' onclick="window.location='result.html';" style="width:90px;height:45px;" />
        </div>
        </div>

         <!-- five -->
        <div class="nav"></div>
        <div id="one">
            <div id="one_left">
       
            <div id="search_field">3a. Search interests in a specific geographic area</div>
            <div id="search">
                <div id="search_left">Venue:</div>
                <div id="search_right">
                <!-- <input id='search_text' name="Venue" type="text" /> -->
                <input id='search_text' type="text" name="venue"  value="input latitude longitude(e.g. 51.5072,0.1275)" 
                style="color#d3d7d4;" onfocus="if(value=='input latitude longitude(e.g. 51.5072,0.1275)'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#ff00ff';value='input latitude longitude(e.g. 51.5072,0.1275)'}"/>
                </div>
            </div>
        </div>
        <div id="one_right">
        <input class='search_submit' name = "fifth" type="submit" value='select' onclick="window.location='result.html';" style="width:90px;height:45px;" />
        </div>
        </div>

        <!-- six -->
        <div id="one">
        <div id="one_left">

            <div id="search_field">searching from database</div>
            <div id="search">
                <div id="search_left">Screen name:</div>
                <div id="search_right">
                <input id='search_text' type="text" name="sqlscreen_name"/>
                </div>

                <div id="search_left">Venue name:</div>
                <div id="search_right">
                <input id='search_text' name="sqlvenue_name" type="text" />
                </div>
            </div>
            
        </div>
        <div id="one_right">
        <input class='search_submit' name = "sixth" type="submit" value='select'    style="width:90px;height:45px;" /></a>
        </div>
        </div>




      </div>
      
     
<!-- body end -->
<!-- foot start -->
	<div id='bottom'>
				<div class="bottom_content">
					<ul>
						<li><a href='us.html'>About us</a></li>
						<li class='xian'>|</li>
						<li>Copyright&nbsp;&copy;:2015</li>
						<li class='xian'>|</li>
						<li><a href='https://www.sheffield.ac.uk'>The university of Sheffield</a></li>
						<li class='xian'>|</li>
						<li>E-mail:lcheng3@sheffield.ac.uk</li>
					</ul>
					</div>
			</div>

<!-- foot end -->
</form>
</body>
</html>