<!DOCTYPE html>
<html>
<head>
  <title>Using about with a table</title>
</head>
<body>
 
<table vocab="http://schema.org/" border="1">
  
  <tr>
    <td>name</td>
    <td>photo</td>
    <td>category</td>
    <td>address</td>
    <td>URL</td>
    <td>description</td>
  </tr>
  
  
  <tr>
    <td about="Item1" typeof="Venueobject" property="name">venue name</td>
    <td about="Item1" property="photo">photo!</td>  
    <td about="Item1" property="category">category!</td>   
    <td about="Item1" property="address">address!</td>   
    <td about="Item1" property="URL">URL!</td>
    <td about="Item1" property="description">description!</td>   
  </tr>
  
  


</table>
 
</body>
</html>